<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
	   default-autowire="byName" default-lazy-init="true">

	<!-- 自定义序列化工厂 -->
	<bean id="remote.serializerFactory.client"
		  class="com.zuche.framework.extend.hessian.SerializerFactoryExtendClient"/>

	<!-- 远程调用配置  hessian-->
	<bean id="remote.hessianProxyFactory"
		  class="com.caucho.hessian.client.HessianProxyFactory">
		<property name="serializerFactory" ref="remote.serializerFactory.client"/>
		<property name="connectTimeout" value="15000"/>
		<property name="readTimeout" value="30000"/>
	</bean>

	<!-- 远程调用配置 Hessian -->
	<bean id="remote.hessianRemoteClientInternal"
		  class="com.zuche.framework.remote.hessian.HessianRemoteClientInternal">
		<property name="hessianFactory" ref="remote.hessianProxyFactory"/>
	</bean>

	<!-- 远程调用配置  netty-->
	<bean id="remote.tcpRemoteClientInternal" class="com.zuche.framework.remote.nio.client.TcpRemoteClientInternal"/>

	<!-- 远程调用配置 Http -->
	<bean id="remote.httpRemoteClientInternal"
		  class="com.zuche.framework.remote.http.HttpRemoteClientInternal">
		<property name="connectTimeout" value="15000"/>
		<property name="readTimeout" value="30000"/>
	</bean>

	<bean id="remote.controller" class="com.zuche.framework.remote.controller.HessianController"/>
	<bean id="http.controller" class="com.zuche.framework.remote.controller.HttpController"/>
	<!--带有样式的远程调用  -->
	<bean id="view.controller" class="com.zuche.framework.remote.view.RemoteViewController"/>

</beans>